.swiper {
    width: 100vw;
    height: 500px;
}
*, ::before, ::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height : 1;
	list-style-type:none;
	text-decoration : none;
}
img{
    width: 100%;
}