.contenair{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 50vw;
    width: 100%;
    margin: auto ;
    gap: 10px;
}
body{
    background-color: cornflowerblue;
}
h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: beige;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
img{
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
img:hover{
    transform: scale(1.1);
}