*, ::before, ::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height : 1;
	list-style-type:none;
	text-decoration : none;
}
div{
    width: 25vw;
    height: 100vh;
    color: white;
}
.blue{
    background-color: cornflowerblue;
}
.pink{
    background-color: hotpink;
}
.purple{
    background-color: mediumpurple;
}
.bluelight{
    background-color: lightskyblue;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}