@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');
*, ::before, ::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height : 1;
}
img{
	width:100%;
}
ul{
	list-style-type:none;
}
a{
	text-decoration : none;
}
body{
	font-family: "Commissioner", sans-serif;
}
.btn1{
	background-color: rgba(249, 79, 79, 1);
	color: white;
	font-size: 18px;
	font-weight: 800;
	line-height: 22.1px;
	padding: 18px 30px;

}
.btn1:hover{
	background-color: rgba(255, 147, 147, 1);
}
.btn2{
	background-color: rgba(25, 25, 33, 1);
	font-weight: 800;
	line-height: 19.57px;
	padding: 18px 35px;
	color: white;
}
.btn2:hover{
	background-color: rgba(67, 67, 86, 1);
}
/*HEADER*/
.logo{
	max-width: 161px;
	margin-top: 3rem;
	margin-bottom: 3rem;
	margin-left: 8rem;
}
header{
	display: flex;
	flex-direction: row;
	justify-content:space-between;
}
header ul{
	display: flex;
	flex-direction: row;
	padding-left: 3.6rem;
	gap: 40px;
}
.navBar{
	background-color: rgba(249, 79, 79, 1);
	padding-top: 3rem;
	padding-bottom: 3rem;
	width: 45%;
	display: flex;
	flex-direction: row;
	gap: 40px;
	align-items: center;
}
.navBar ul li a{
	color: white;
	font-size: 16px;
	font-weight: 300;
	line-height: 32px;
}
.navBar ul li a:hover{
	font-weight: 700;
}


/*SECTION1*/
.section1{
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: 100%;
/* 	margin-left: 8rem; */
}
.contenair-texte1{
	grid-column: 2/7;
	grid-row: 1;
	z-index: 1;
	
}
.people-computer{
	grid-column: 5/12;
	grid-row: 1;
}
.back-liner{
	background:linear-gradient(to right, rgba(255, 255, 255, 1),rgba(255, 255, 255, 0.0001));
	grid-column: 5/9;
	grid-row: 1;
}
.contenair-texte1 h1{
	font-size: 80px;
	font-weight: 800;
	line-height: 88px;
}
.contenair-texte1 p{
	font-size: 18px;
	padding-top: 3rem;
	padding-bottom: 4rem;
	max-width: 540px;
	font-weight: 300;
	line-height: 32px;

}
